# Игнорируем все CSV-файлы в папках Data по всему проекту
**/Data/*.csv

# Игнорируем временные и служебные файлы Jupyter Notebook
*.ipynb_checkpoints
*.pyc
__pycache__/

# Игнорируем временные файлы ОС
.DS_Store
Thumbs.db

# Игнорируем любые файлы/папки для логов или настроек
*.log
*.tmp
*.bak
*.env
*.json